@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Inter:wght@400;500&display=swap');

.search {
    background-color: #fff;
    width: 500px;
    height: 250px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 21px 20px 4px rgba(0,0,0,0.38);
    -moz-box-shadow: 0px 21px 20px 4px rgba(0,0,0,0.38);
    box-shadow: 0px 21px 20px 4px rgba(0,0,0,0.38);
    margin: auto;
    margin-top: 70px;
}

.search h2 {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 35px;
    padding-top: 20px;
}

.search p {
    color: #9da5d1;
}

.search_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}


.search_container input{
    border: 2px solid #DFDFDF;
    border-radius: 20px;
    width: 80%;
    height: 40px;
    margin-bottom: 8px;
    padding-left: 20px;
    font-family: 'Hammersmith One', sans-serif;
    color: #C1C1C1;
}

.search_container input::placeholder{
    font-family: 'Hammersmith One', sans-serif;
    color: #C1C1C1;
}

.search_container button {
    background-color: #45AAF6;
    color: #fff;
    font-size: 20px;
    font-family: 'Hammersmith One', sans-serif;
    width: 80%;
    height: 40px;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
}